POSTGRES_DB=kirikopi
POSTGRES_USER=kirikopi
POSTGRES_PASSWORD=change-me-locally
POSTGRES_PORT=5432

BACKEND_PORT=8080
NEXT_PUBLIC_SITE_URL=http://localhost:3000
BACKEND_INTERNAL_URL=http://localhost:8080
